body {
    font-size: 18px;
    font-family: consolas;
}

.game-area {
    position: relative;
    background: rgb(61, 160, 244);
    background: linear-gradient(0deg, rgba(61, 160, 244, 1) 0%,
    rgba(192, 211, 246, 1) 33%,
    rgba(55, 157, 244, 1) 100%);
    width: 100%;
    height: 93vh;
    margin: 0;
}

.game-start {
    position: absolute;
    z-index: 1;
    width: 30%;
    border-radius: 30px;
    background-color: rgb(235, 253, 153);
    top: 100px;
    left: 35%;
    padding: 30px;
    text-align: center;
}

.game-score {
    background-color: black;
    color: white;
    text-align: center;
}

.hide {
    display: none;
}

.wizard {
    z-index: 100;
    position: absolute;
    width: 82px;
    height: 100px;
    background-image: url(/images/images/wizard.png);
    background-size: cover;
}